body {
    padding-top: 80px;
    background-color: #F3F5F8;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    color: #676a6d;
    height: 100%;
    width: 100%;
}
.main-right {

}

.sider {
    display: block;
    background-color: white;
    margin-bottom: 20px;
}