@charset "utf-8";

*{ box-sizing: border-box; -webkit-box-sizing:border-box; margin:0; padding:0; }
html {
  margin:0;
  padding:0;
}
body {
  background-color: #F3F5F8;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  color: #676a6d; 
  height:100%;
  width:100%;
}
a { 
  text-decoration: none; 
  color:#676a6d; 
}
a,input,button,textarea{ outline: none; }
ul, li, ol{ list-style: none; }
.fl{ float:left; }
.fr{ float:right; }
.clearfix{_zoom:1;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.mt3p{ margin-top:3%; }
.bgfff{ background-color: #fff; }
.shadow{ 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); 
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); 
}
.shadow-btn{
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.header{
  width:100%;
  height:100px;
  background-color: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top:0; 
  left:0;
  overflow: hidden;
  z-index: 999;
}
.center{
  width:80%;
  min-width: 600px;
  margin:0 auto;
  border-radius: 2px;
}
.logo{ padding-top: 24px; }
.top-search{ 
  padding-top:33px;
  padding-left: 5%; 
}
.tsec-text{
  width:200px;
  height:34px;
  padding:0 10px;
  line-height: 34px;
  border:1px solid #eee;
  background-color:#f7f7f7;
}
.tsec-btn{
  height:34px;
  width:60px;
  text-align: center;
  line-height: 34px;
  background-color: #00a0f0;
  color:#fff;
  font-size: 14px;
}
.tsec-btn:active{
  background-color: #ddd;
}
.log-before{ padding-top: 38px; }
.login a.blu{
  display: block; 
  float:left;
  width:60px;
  height:24px;
  line-height: 24px;
  text-align: center;
  background-color: #3ca512;
  margin-left: 10px;
  font-size: 12px;
  color:#fff;
  border-radius: 3px;
}
.login a.blu:hover{
  background-color: #fdb10e;
}
.login a.blu:active{
  background-color: #e79e01;
}
.log-after{ padding-top: 32px; line-height: 36px;  }
.head-pic{
  display: block;
  width:36px;
  height:36px;
  border-radius: 18px;
  overflow: hidden;
}
.head-pic img{ width:100%; }
.log-after .uname,
.log-after .cent-btn,
.log-after .logout-btn{
  margin-left: 10px;
}
.log-after .cent-btn{
  
}
.log-after .cent-btn:hover{
  text-decoration: underline;
}
.log-after .logout-btn{
  height:24px;
  line-height: 24px;
  margin-top: 6px;
  font-size: 12px;
  padding:0 15px;
  border-radius: 12px;
  border:1px solid #ccc;
  background-color: #eee;
  color:#333;
  overflow: hidden;
}
.log-after .logout-btn:hover{
  line-height: 26px;
}
.log-after .logout-btn:active{
  line-height: 26px;
  background-color: #ddd;
}
.container{ 
  width:100%; 
  padding-top: 100px;
}

/*分页样式*/
.pages{
  margin:15px;
}
.pages a{ 
  text-decoration: none; 
  outline: none; 
  font-family: "微软雅黑"; 
          transition:all 0.15s; 
     -moz-transition:all 0.15s;
  -webkit-transition:all 0.15s;
       -o-transition:all 0.15s;
}
.fir_p,.las_p,.pre_p,.nex_p{
  display: block;
  float:left;
  height:34px;
  width:34px;
  text-align: center;
  line-height: 32px;
  border:1px solid #eee;
  font-size: 14px;
  color:#393939;
}
.fir_p{
  border-right:none;
     -moz-border-radius: 5px 0 0 5px; 
  -webkit-border-radius: 5px 0 0 5px; 
          border-radius: 5px 0 0 5px;
}
.las_p{
  border-left:none;
     -moz-border-radius: 0 5px 5px 0; 
  -webkit-border-radius: 0 5px 5px 0; 
          border-radius: 0 5px 5px 0;
}
.pre_p,.nex_p{ border-left:none; border-right:none; }
.num_p{
  height:34px;
  padding:0 10px;
  line-height: 34px;
  float:left;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
  font-size: 13px;
  color:#393939;
}
.pages a:hover{ background-color: #5ea7e8; color:#fff; }
a.fir_p:active,a.las_p:active,a.pre_p:active,a.nex_p:active,a.num_p.on,a.num_p:active{
  background-color: #428BCB;
  color:#fff;
}
.pages span{
  line-height: 36px;
  font-size: 13px;
  float:left;
  margin-left: 10px;
}
.pages span input{
  height:18px;
  line-height: 18px;
  border:1px solid #ddd;
  outline: none;
  width:40px;
  padding:0 3px;
  margin: 0 3px;
}